#outer-form {
        font-weight: 700;
        width: 30%;
        position: absolute;
        right: 150px;
        margin-top: 40px;
        font-size: 20px;
        
        span {
            color: #ecd407;
        }
        
        #inner-form {
            background-color: #001d8a;
            padding: 15px;
            
            
            p {
                margin-top: 5px;
            }
            
            input {
                width: 95%;
                padding: 6px;
                margin: 5px 0;
            }
            
            textarea {
                margin: 5px 0;
                padding: 6px;
                width: 95%;
                height: 30px;
                
                &::placeholder {
                    font-family: sans-serif;
                }
            }
            
            button {
                height: 40px;
                width: 70px;
                background-color: #ecd407;
                color: #000000;
                font-weight: 700;
                border: none;
                font-size: 15px;
            }
        }  
    }
