/*
tlo #213b50, pole nieaktywne #2b4a64, pole aktywne #4e708c, ramka aktywnego pola i kolor tekstu #ffffff
*/

#form {
    background-color: #213b50;
    width: 40%;
    padding: 20px;
    height: 100%;
}

#form input,
select,
textarea {
    margin-bottom: 3%;
    background-color: #2b4a64;
    border: 0px solid #2b4a64;
    width: 40%;
    color: #ffffff;
}

#form input:focus, textarea:focus, select:focus, {
    background-color: #4e708c;
    color: #ffffff;
    outline-color: #ffffff;
}

#form .box {
    width: 4%;
    margin-bottom: 1%;
    color: #ffffff;
    
}

#form #gender {
    margin-bottom: 3%;
}

#form textarea {
    height: 100px;
}

#form .send {
    width: 60px;
    height: 25px;
    background-color: #1FCC00;
    color: #ffffff;
    margin-top: 3%;
}

#form label {
    color: #ffffff;
}

#form p {
    color: #ffffff;
    margin: 0px;
    display: inline-block;
}