body {
    padding: 20px;
}

#square {
    width: 250px;
    height: 250px;
    background-color: #e08cd3;
    border: 5px solid #a3759c;
    text-align: center;
    font-family: sans-serif;
    padding: 20px 0;
}

#button-click {
    height: 35px;
    background-color: #a3759c;
    border: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#dane-programisty {
    border: 5px solid #a3759c;
    text-align: left;
    padding: 0 10px; 
}